{% extends 'customer/base.html' %}

{% block body %}
<!-- Burgers List -->
<div class="Burgers">
    <a name="Burgers"><h3>Burgers</h3></a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Food</th>
            <th>Ingredient</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                {% if food.Food_Type == "Burgers" %}
                <td>{{ food.Name }}</td>
                <td>{{ food.Ingredient }}</td>
                <td>{{ food.MID.Price }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div> <!-- end Burger List-->

<!-- Wraps List -->
<div class="Wraps">
    <a name="Wraps"><h3>Wraps</h3></a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Food</th>
            <th>Ingredient</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                {% if food.Food_Type == "Wraps" %}
                <td>{{ food.Name }}</td>
                <td>{{ food.Ingredient }}</td>
                <td>{{ food.MID.Price }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>  <!-- end Wrap List-->

<!-- Meal Options List -->
<div class="Meal Options">
    <a name="Meal Options"><h3>Meal Options</h3></a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Food</th>
                <th>Ingredient</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% for food in foods %}
                <tr>
                    {% if food.Food_Type == "Meal Options" %}
                    <td>{{ food.Name }}</td>
                    <td>{{ food.Ingredient }}</td>
                    <td>{{ food.MID.Price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  <!-- end Meal Option List-->

<!-- Snacks List -->
<div class="Snacks">
    <a name="Snacks"><h3>Snacks</h3></a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Food</th>
                <th>Ingredient</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            {% for food in foods %}
                <tr>
                    {% if food.Food_Type == "Snacks" %}
                    <td>{{ food.Name }}</td>
                    <td>{{ food.Ingredient }}</td>
                    <td>{{ food.MID.Price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  <!-- end Snacks List-->

<!-- Beverages List -->
<div class="Beverages">
    <a name="Beverages"><h3>Beverages List</h3></a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Beverage</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
            <tr>
                <td>{{ drink.Name }}</td>
                <td>{{ drink.MID.Price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>  <!-- end Beverages List-->
{% endblock %}
